include includes/head

nav
    ul
        li: a(href="index.html" class="active") Home
            hr
        li: a(href="login.html") Login
            hr
.banner
    article(class="harsh")
        h2 Sign Up
        form(action="", method="post" class="form")
            input(type="text" name="username" placeholder="Username" id="username")
            
            input(type="password" name="password" placeholder="Password" id="password")
        
            input(type="text" name="username" placeholder="Email" id="username")
            
            input(type="submit", value="Login" id="submit")
        


                        
        