include includes/head

nav
    ul
        li: a(href="index.html") Home
            hr
        li: a(href="login.html" class="active") Login
            hr
main
    .banner
        article(class="harsh") 
            h2 Login
            form(action="", method="post" class="form")
                input(type="text" name="username" placeholder="Username / Email" id="username")
                input(type="password" name="password" placeholder="Password" id="password")
                input(type="submit", value="Login" id="submit")
        


                        
        